antlr4-python3-runtime==4.8
certifi==2020.12.5
cffi==1.14.3
chardet==4.0.0
click==7.1.2
Cython==0.29.21
dataclasses==0.6
editdistance==0.5.3
fairseq==0.10.1
Flask==1.1.2
future==0.18.2
futures==3.1.1
gunicorn==20.0.4
hydra-core==1.0.3
idna==2.10
importlib-resources==3.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Morfessor==2.0.6
numpy==1.19.2
omegaconf==2.0.5
polyglot==16.7.4
portalocker==2.0.0
pycld2==0.41
pycparser==2.20
PyYAML==5.3.1
regex==2020.10.23
requests==2.25.1
sacrebleu==1.4.14
sentencepiece==0.1.95
six==1.15.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.0+cu101
tqdm==4.51.0
typing-extensions==3.7.4.3
urllib3==1.26.2
urlextract==1.2.0
Werkzeug==1.0.1
zipp==3.4.0
demoji==0.4.0
emoji==1.2.0
textdistance==4.2.1
flair==0.8.0.post1
gevent==21.8.0