absl-py==0.7.1
aniso8601==6.0.0
ansible==4.4.0
ansible-core==2.11.4
appdirs==1.4.3
apturl==0.5.2
asgiref==3.2.10
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
attrs==21.2.0
audioread==2.1.8
Augmentor==0.2.6
Babel==2.7.0
beautifulsoup4==4.9.3
bleach==1.5.0
Brlapi==0.6.6
bs4==0.0.1
bz2file==0.98
cachetools==3.1.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.2.2
cluster==1.4.1.post2
colorama==0.4.1
colorlog==4.0.2
command-not-found==0.3
config==0.4.2
coremltools==3.0
coverage==5.5
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.12
dataclasses==0.7
DAWG-Python==0.7.2
decorator==4.4.0
deeppavlov==0.7.1
defer==1.0.6
dill==0.3.1.1
distlib==0.3.2
distro-info===0.18ubuntu0.18.04.1
dj-database-url==0.5.0
Django==3.1.1
docker==4.2.0
docopt==0.6.2
dominate==2.4.0
dopamine-rl==2.0.5
editdistance==0.5.3
fastapi==0.38.1
ffmpeg-python==0.2.0
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.7
flask-restplus==0.12.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
font-roboto==0.0.1
fonts==0.0.3
future==0.18.2
fuzzywuzzy==0.17.0
g2p-seq2seq==6.2.2a0
gast==0.2.2
gdown==3.12.2
gdrivedownload==1.0.1
geodata==1.7.1
geographiclib==1.52
geopy==2.2.0
gevent==1.5a2
gin-config==0.2.1
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-crc32c==1.1.2
google-images-download==2.8.0
google-pasta==0.1.7
google-resumable-media==1.3.1
googleapis-common-protos==1.6.0
graphviz==0.17
greenlet==0.4.15
grpcio==1.22.0
gunicorn==20.0.4
gym==0.15.3
h11==0.8.1
h5py==2.9.0
haversine==2.3.1
html5lib==0.9999999
httplib2==0.9.2
httptools==0.0.13
idna==2.10
image==1.5.27
imageio==2.5.0
importlib==1.0.4
importlib-metadata==1.7.0
importlib-resources==5.2.2
imutils==0.5.2
iniconfig==1.1.1
iso8601==0.1.14
isort==4.3.15
itsdangerous==1.1.0
Jinja2==2.11.2
jiwer==1.3.2
joblib==0.13.2
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.0.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
language-selector==0.1
Lasagne==0.2.dev1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.3.1
librosa==0.7.0
llvmlite==0.29.0
louis==3.5.0
m3u8==0.8.0
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.1.1
MarkupSafe==1.1.1
matlab==0.1
matplotlib==3.1.1
mccabe==0.6.1
meld==3.18.0
mesh-tensorflow==0.1.4
minio==4.0.16
more-itertools==7.2.0
MouseInfo==0.1.3
mpmath==1.1.0
mysql-connector==2.2.9
netifaces==0.10.4
networkx==2.3
nlpaug==0.0.8
nltk==3.2.5
noisereduce==1.0.1
numba==0.45.1
numpy==1.16.4
oauth==1.0.1
oauth2client==4.1.3
olefile==0.45.1
opencv-python==4.1.0.25
ordereddict==1.1
overrides==1.9
packaging==21.0
pandas==0.24.2
pascal==0.0.1.dev1
pathlib==1.0.1
pexpect==4.2.1
phonetics==1.0.5
Pillow==7.2.0
pluggy==1.0.0
promise==2.2.1
protobuf==3.8.0
psycopg2==2.8.6
PuLP==2.5.0
py==1.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
PyAudio==0.2.11
PyAutoGUI==0.9.53
PyBindGen==0.20.1
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pydantic==0.32.2
pydub==0.23.1
PyGetWindow==0.0.9
pyglet==1.3.2
PyGObject==3.26.1
pygubu==0.9.8.2
pylint==2.3.1
pymacaroons==0.13.0
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.404381.4453942
PyMsgBox==1.0.9
PyMySQL==0.10.1
PyNaCl==1.1.2
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyperclip==1.8.2
PyRect==0.1.4
pyRFC3339==1.0
pyrsistent==0.14.11
PyScreeze==0.1.27
PySocks==1.7.1
pyTelegramBotAPI==3.6.6
pytesseract==0.2.7
pytest==6.2.5
pytest-cov==2.12.1
python-apt==1.6.5+ubuntu0.2
python-coveralls==2.9.3
python-dateutil==2.8.0
python-debian==0.1.32
python-utilities==1.0.14
python3-xlib==0.15
PyTweening==1.0.3
pytz==2018.9
PyWavelets==1.0.3
pyxdg==0.25
PyYAML==3.12
pyzmq==19.0.0
rapidfuzz==1.4.1
reportlab==3.4.0
requests==2.25.1
requests-unixsocket==0.1.5
resampy==0.2.2
resolvelib==0.5.4
rsa==4.0
rusenttokenize==0.0.5
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
SecretStorage==2.3.1
selenium==3.141.0
simple-image-download==0.2
simplejson==3.13.2
six==1.12.0
sounddevice==0.3.13
SoundFile==0.10.2
soupsieve==2.2.1
SQLAlchemy==1.3.20
sqlparse==0.3.0
ssh-import-id==5.7
starlette==0.12.8
stem==1.8.0
sympy==1.4
system-service==0.3
systemd-python==234
tensor2tensor==1.7.0
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-estimator==1.14.0
tensorflow-metadata==0.15.0
tensorflow-probability==0.8.0
termcolor==1.1.0
texttoimage==0.0.2
tf-agents==0.2.0rc2
tfds-nightly==1.3.0.dev201911120105
Theano==0.8.2
tkcalendar==1.5.0
toml==0.10.2
torchfile==0.1.0
tornado==6.0.3
torrequest==0.1.0
tqdm==4.32.2
typed-ast==1.3.1
typing-extensions==3.10.0.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
Unidecode==1.2.0
uritemplate==3.0.0
urllib3==1.26.4
usb-creator==0.3.3
utility==1.0
uvicorn==0.9.0
uvloop==0.14.0
virtualenv==20.0.31
visdom==0.1.8.9
wadllib==1.3.2
Wave==0.0.2
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
whitenoise==5.2.0
WoeUSB-ng==0.2.9
wrapt==1.11.1
ws4py==0.3.4
wxPython==4.0.1
xkit==0.0.0
xlrd==1.2.0
xmltodict==0.12.0
zipp==3.5.0
zope.interface==4.3.2
